{% block content %}
<style>
  .container-md {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
    h3 {
        margin-bottom: 20px;
    }
    
    button {
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }

</style>

<form method="POST">
  <div class="container-md" data-bs-theme="dark">
    <h3 align="center">Login</h3>
    <button type="login" class="btn btn-primary">Login</button>

    <h3 align="center">Sign Up</h3>
    <button type="signup" class="btn btn-primary">Sign In</button>
  </div>
</form>

{% endblock %}