<div id="overview-map" class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;"></div>
	<svg id="modal-close" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
		<circle cx="50" cy="50" r="40" fill="#ddf" stroke="#008" stroke-width="10"></circle>
		<line x1="35" x2="65" y1="35" y2="65" stroke="#008" stroke-width="10" stroke-linecap="round"></line>
		<line x1="35" x2="65" y1="65" y2="35" stroke="#008" stroke-width="10" stroke-linecap="round"></line>
	</svg>
<div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-393px, -217px, 0px);">
    <div class="leaflet-pane leaflet-tile-pane"></div>
    <div class="leaflet-pane leaflet-shadow-pane"></div>
    <div class="leaflet-pane leaflet-overlay-pane">
        <img class="leaflet-image-layer leaflet-zoom-animated" src="Singapore-MRT-Network.svg" alt="Singapore MRT/LRT Map (Geographic)" style="transform: translate3d(4px, 1px, 0px); width: 1297px; height: 729px;"></div>
        <div class="leaflet-pane leaflet-marker-pane"></div><div class="leaflet-pane leaflet-tooltip-pane"></div>
        <div class="leaflet-pane leaflet-popup-pane"></div>
        <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(743739px, 468122px, 0px) scale(1842.33);">

        </div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left">
            <div class="leaflet-control-scale leaflet-control">
                <div class="leaflet-control-scale-line" style="width: 71px;">3 km</div>
            </div>
        </div>
        <div class="leaflet-top leaflet-right">
            <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
                <a class="leaflet-control-zoom-out leaflet-disabled" href="#" title="Zoom out" role="button" aria-label="Zoom out">-</a>
            </div>
        </div>
        <div class="leaflet-bottom leaflet-left"></div>
        <div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="/map/about">More info</a> | CC-BY-SA 4.0 Wikipedia user:Seloloving</div></div></div></div>