{% extends "base.html" %} {% block title %}Map{% endblock %} {% block content%}
<style>
#sidebar, #map {
    width: 50%;
    float: left;
}

@media handheld, only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
    #map, #form {
        width: auto;
        float: none;
    }
}
/* @media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
} */ 

</style>

<form method="POST">
  <section>
    <div id="sidebar" class="section" align = "left" style = "float:left">
      <div class="row">
        <div class="col-md-3 sidebar" style="background-color: #f8f9fa; padding: 20px; height: 100vh; position: fixed; left: 0; width: 25vw;">
          <h4>Journey Details</h4>
          <div class="station-info">
            <p><strong>Start Station:</strong></p>
            <div class="form-group">
              <input
              type="text"
              class="form-control"
              id="start"    
              name="start"
              placeholder="Enter start location"
              />
              <hr>
              <p><strong>End Station:</strong></p> 
              <div class="form-group">
                <input
                type="text"
                class="form-control"
                id="dest"
                name="dest"
                placeholder="Enter destination"
                />
              </div>
          </div>
            <button type="calculate" class="btn btn-primary">calculate</button>
          </div>
          <div id = "distance">
            <p>Distance: </p>
            <p>{{ distance }}</p>
          </div>
          <label>Shortest Route (codes): </label>
          {% for code in path_codes %} 
          <li>
            {{ code }}
          </li>
          {% endfor %}
          <br>
          <label>Shortest Route (names): </label>
          {% for name in path_names %} 
          <li>
            {{ name }}
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <article-->
    <div class="container-fluid" style="float:right">
      <div id="map" style="height: 100vh; background-color: white; width: 75vw; width: 75vw;">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
        <script>
          var map = L.map('map').setView([1.3521, 103.8198], 12);
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 17,
            minZoom: 10,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);
        </script>
      </div> 
    </div>
  </article>
</form>


{% endblock %}