<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Settings</h1>
    </header>
    <main>
        <section id="route-settings">
            <h2>Route Settings</h2>
            <form action="/save-settings" method="post">
                <div>
                    <label for="preferred-route">Preferred Route:</label>
                    <select id="preferred-route" name="preferred_route">
                        <option value="fastest">Fastest</option>
                        <option value="shortest">Shortest</option>
                        <option value="least_transfers">Least Transfers</option>
                    </select>
                </div>

                <p><label>Select Algorithm</label></p>
                    <p>
                    <select name="algorithm_selection">
                        <option value="1">Breadth First Search</option>
                        <option value="2">Dijkstra</option>
                        <option value="3">K Shortest Path</option>
                        <option value="4">A Star</option>
                    </select>
                    </select>
                    </p>
                <button type="submit">Save Settings</button>
            </form>

        <section id="account-settings">
            <h2>Change Password</h2>
            <!-- Password -->
    <label for="password1">Password</label>
    <input 
      type="password" 
      id="password1" 
      name="password1" 
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
      required 
      placeholder="Enter password"
      class="form-control"
    />

    <!-- Show Password Checkbox -->
    <div class="form-check">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="showPassword" 
        onclick="togglePasswordVisibility('password1')"
      />
      <label class="form-check-label" for="showPassword">Show Password</label>
    </div>

    <!-- Password confirm -->
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
      />
      
    <!-- Show Password Checkbox -->
    <div class="form-check">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="showPassword" 
        onclick="togglePasswordVisibility('password2')"
      />
      <label class="form-check-label" for="showPassword">Show Password</label>
    </div>
        </section>
    </main>
</body>
</html>

<script>
    function togglePasswordVisibility(id) {
      var passwordField = document.getElementById(id);
      if (passwordField.type === "password") {
        passwordField.type = "text";
      } else {
        passwordField.type = "password";
      }
    }
</script>