{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<form method="POST">
<div class="container-md" data-bs-theme="dark">
    <h3 align="center">Sign Up</h3>

    <form action="/action_page.php">
        <!-- Username -->
        <label for="usrname">Username</label>
        <input 
            type="text" 
            id="usrname"
            name="usrname"
            required
            placeholder="Enter email">

        <!-- First Name -->
        <label for="firstName">First Name</label>
        <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
        />
        <!-- Email -->
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />

        <!-- Password -->
        <label for="psw">Password</label>
        <input 
            type="password1" 
            id="psw" 
            name="psw" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
            required 
            placeholder="Enter password">

        <label for="password2">Password (Confirm)</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
  
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </form>
  </div>
  
  <!-- Password Requirements dynamically displayed-->
  <div class="alert alert-secondary" role="alert" >
    <h5>Password must contain the following:</h5>
    <p id="letter" class="invalid"><small>A <b>lowercase</b> letter</small></p>
    <p id="capital" class="invalid"><small>A <b>capital (uppercase)</b> letter</small></p>
    <p id="number" class="invalid"><small>A <b>number</b></small></p>
    <p id="length" class="invalid"><small>Minimum <b>8 characters</b></small></p>
  </div>

  <div id="message"></div>
    <p id="same" class="invalid">Passwords must match</p>
  </div>

{% endblock %}
